.buttons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px 10px;
  .btn{
    display: grid;
    @include set-background($secondary-color);
    /*ဒီနေရာမှာ priamry-color  သိုမဟုတ် secondary-color ရွေးခြင်းအားဖြင့်
    calculatory ရဲ့ နံပါတ်ခလုတ် နဲ့ နံပါတ်အရောင်တေကို
    ပြောင်းစေမှာဖြစ်တယ်။ mixin သုံးထားခြင်းကြောင့် @include နဲ့လှမ်းခေါသုံးခြင်းဖြစ်တယ်။*/
    
    /*background-color:lighten($btn-color, 10%);  use as test*/
    /*color:$text-color;*/
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 0px $inpt_btn_boxsha;
    font-weight: bold;
    font-size: 1.5em;
    /*transition-property:background-color,box-shadow;*/
    opacity: 0.8;
   /* a{
        text-decoration: none;
        color:#000000;
    }*/
  }
  .btn:hover{
   /* background-color: $btn-ho-bgcolor;
    box-shadow: 5px 0px #0577c9;*/
   opacity: 1;
   cursor: pointer;

  }

  .btnReset{
    @extend .btn;
    display: grid;
    grid-column: 1/3;
    background-color:#df993e;
    box-shadow: 5px 0px #a7712a;
    opacity: 0.8;
  }

  .btnEqual{
    @extend .btn;
    display: grid;
    grid-column: 3/5;
    background-color:#bbc417;
    box-shadow: 5px 0px #606232;
    opacity: 0.8;
  }
  .btnDel{
    @extend .btn;
    box-shadow: 5px 0px #5d1441;
    background-color:#cf2d8e;
}

}